<link rel="stylesheet" href="/static/images/bedroom.jpg">
<link rel="stylesheet" href="/static/images/kitchen.jpg">
<link rel="stylesheet" href="/static/images/living room.jpg">
<link rel="stylesheet" href="/static/css/home.css">
<link rel="stylesheet" href="/static/css/text.css">
<link rel="stylesheet" href="/static/css/footer.css">
<body style="background-color:#e8f4f7">
<nav class="navbar navbar-expand-lg bg-warning" >
  <div    class="container-fluid" class="text-bg-danger p-8" style="background-color:#C9FFFF;color:#95FF2B">
    <a class="navbar-brand"  href="http://127.0.0.1:5000">LIVESPACE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="background-color:#F1FEE7">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/home2"></a>
        </li>
        <li class="nav-item" style="color:#7D3C98 ">
          <a class="nav-link" href="http://127.0.0.1:5000/interier">Interior</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/service">service</a>
        </li>
        <a class="nav-link">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/home2">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://127.0.0.1:5000/order">order</a>
        </li>
        </li>
      </ul>

      <form  action="http://127.0.0.1:5000/" method="post" class="d-flex"  >
        <a class="btn btn-outline-success m-3 " href="/" type="submit">logout</a>
      </form>
    </div>
  </div>
</nav>

<div class="bg-img">

</div>
<br>
<br>
<br>

{% extends 'middle.html' %}


