<!DOCTYPE html>
<html>
<head>
<title>LIVE SPACE.COM</title>
</head>
<body style="background-color:lightcoral;">

<h1 style="text-align:center;"><b>Space and Aesthetics Management System</b></h1>
<p style="text-align:center;"> Turning our surroundings into the abode of comfort would give us immense peace</p>


    <div id="top-bar-content" class="clr has-content top-bar-right">

    </div>



                <span class="topbar-content">

                  <center>Already have an account? <a href="file:///C:/Users/DELL/OneDrive/Desktop/sdp/login.html"&amp;>SIGN IN</a> | New customer? <a href="file:///C:/Users/DELL/OneDrive/Desktop/sdp/signup.html"&amp;>SIGN UP</a></center>
                </span>


    </div><!-- #top-bar-content -->
<meta name="description" content="Space and Aesthetics Management System simplifies how you handle lifestyle management service &amp; operations to maintain real-property assets to protect wealth succession.">
<center><img src="http://www.home-designing.com/creating-unique-interiors-with-bold-color-contrast" width="1000" height="400"></center>
<style>
    .blink {
        animation: blinker 1.5s linear infinite;
        color: black;
        font-family: sans-serif;
    }
    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }
</style>
<marquee class="blink" direction="right">Contact us at +91-8328391946,satyasaisriram123@gmail.com for any queries</marquee>
</body>
</html>