<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/static/images/middle.jpg">
    <link rel="stylesheet" href="/static/css/footer2.css">
</head>
<body>
<big>
  <h1><bold>WHAT IS LIVESPACE</bold></h1>
</big><center>
<image style="float:right" src="/static/images/middle.jpg" width="20%" height="20%" >
    <P style="float:letf">
        This LIVESPACE aim is to explore and define a range of ways in which a theoretical interrelation of aesthetics, management, and space is fruitful for contemporary research.It opens with a definitional exploration of aesthetics and similarly with space then with reference to the historical provenance of each of these terms, the chapter accounts for recent significant advances in management and organization analysis. The chapter questions mainstream critical approaches to the spatial design and the management of the contemporary workplace, and along with examples, it concludes by surveying new approaches to workplace design and the philosophical implications for the integration of aesthetics into corporate life.
    </P>
</center>
<center>
    <b><h1>What does an interior designer do?</h1></b>
    <p>In our own way, we all have good taste, right? We dress ourselves to look fabulous every morning, we create beautiful meals, marketing, and advertising projects, we purchase exquisite artwork (even if they are from local artists), and we find beauty in the mundane.

        These are all innate human qualities that make us who we are.</p>
   <p>Most professional interior designers work on a freelance basis or at high-end interior design firms with a prolific design team where they bounce ideas to meet the requirements of potential clients and customers. Their design services are unique as each artist has their own rendition of reflecting the beauty in the world and the personality of their clients.</p>
    </center>


    <header>
        <!-- Content -->  <link rel="stylesheet" href="/static/css/footer2.css">
    </header>

    <main>
        <!-- Content -->
    </main>

    <footer class="footer">
        <div class="footer__addr">
            <h1 ><b></b>Livespace</b></h1>

            <h2>Contact</h2>

            <address>
                Kluniversity vaddeswaram<br>

                <a class="footer__btn" href="mailto:example@gmail.com">Email Us</a>
            </address>
        </div>

        <ul class="footer__nav">
            <li class="nav__item">
                <h2 class="nav__title">Media</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Online</a>
                    </li>

                    <li>
                        <a href="#">Print</a>
                    </li>

                    <li>
                        <a href="#">Alternative Ads</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item nav__item--extra">
                <h2 class="nav__title">Technology</h2>

                <ul class="nav__ul nav__ul--extra">
                    <li>
                        <a href="#">Hardware Design</a>
                    </li>

                    <li>
                        <a href="#">Software Design</a>
                    </li>

                    <li>
                        <a href="#">Digital Signage</a>
                    </li>

                    <li>
                        <a href="#">Automation</a>
                    </li>

                    <li>
                        <a href="#">Artificial Intelligence</a>
                    </li>

                    <li>
                        <a href="#">IoT</a>
                    </li>
                </ul>
            </li>

            <li class="nav__item">
                <h2 class="nav__title">Legal</h2>

                <ul class="nav__ul">
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>

                    <li>
                        <a href="#">Terms of Use</a>
                    </li>

                    <li>
                        <a href="#">Sitemap</a>
                    </li>
                </ul>
            </li>
        </ul>

        <div class="legal">
            <p>&copy; 2019 Something. All rights reserved.</p>

            <div class="legal__links">
                <span>Made with <span class="heart">♥</span> remotely from Anywhere</span>
            </div>
        </div>
    </footer>
</body>