<link rel="stylesheet" href="/static/images/living room.jpg">
<body style="background-color:FAF0D7">
<center>
  <h1><b>Services</b></h1>
  <p>
    Livespace Interior Design is a full service interior design firm that offers design and decorating solutions to residential and small scale commercial projects. We offer interior design and decorating services .
  </p>

  <h5>A full-service interior design firm that can accommodate all your needs:</h5>
   <h4>
     Our approach is collaborative as we:
   </h4>
  <p>Identify your lifestyle needs</p>
  <p>I</p>
  <p>
    Understand your aesthetic
  </p>
  <p>
    I
  </p>
  <p>Assess the possibilities of your space</p>
</center>
<h1>We Offer:</h1>
<h1><b>Comprehensive and bilingual services</b></h1>
<ul>
  <li>Furniture layouts using new and existing furniture</li>
  <li>Space planning and purchasing</li>
  <li>Floor plans, elevations, details, and renderings</li>
  <li>Custom furniture, cabinet, and millwork design</li>


  <li>Kitchen and bathroom design</li>
  <li>Preconstruction and project management services
  <li>Design services for clients with special needs</li>
</ul>
</body>